/* ------ 泡（大きいマル）のスタイル ------ */

.bubble {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    /*泡の色・濃さ*/
    border: thin solid rgba(255, 255, 225, 0.3);
    /*線の色・濃さ*/
    border-radius: 8px;
    /*丸み*/
    box-shadow: 0 0 1px 1px rgba(255, 255, 225, 0.2);
    /*泡の光彩（外側）*/
}


/* ------ 光（小さいマル）のスタイル ------ */

.bubble:after {
    content: "";
    display: block;
    height: 3px;
    /*光の高さ*/
    width: 3px;
    /*光の幅*/
    border-radius: 2px;
    /*丸み*/
    background: rgba(255, 255, 255, 0.2)/*光の濃さ*/
}

body {
    font-family: 'DotGothic16', sans-serif;
    margin-top: 35%;
    max-height: 100%;
    background-image: url(bath3.jpeg);
    background-position: center center;
    /* 画像を常に天地左右の中央に配置 */
    background-position: top 30% center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: black
}

ul {
    padding-left: 1%;
    padding-right: 1%;
}

li {
    margin: 1em 0;
    padding-left: 1em;
    list-style: none;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

#header {
    z-index: 1;
    position: fixed;
    text-align: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 240, 249, 0.45);
}

#header-logo {
    height: 10%;
    text-align: center;
    font-size: auto;
    margin: 0;
}

#header-list ul {
    margin-top: auto;
    text-align: center;
    font-size: 1em;
}

#header-list li {
    display: inline;
    padding: 1%;
}

#footer {
    display: none;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 240, 249, 0.45);
}

#footer-logo {
    display: none;
    text-align: center;
    font-size: 1em;
}

#footer-list ul {
    margin: 0%;
    padding: 0%;
}

#footer-list li {
    float: left;
    margin: 0%;
    padding: 1%;
}

.main {
    text-align: center;
}

.main img {
    padding: 1%;
    width: 80%;
    opacity: 0.90;
    border-radius: 30px;
}

.contents1 {
    display: inline-block;
}

.event {
    margin: 2% auto;
    height: 200px;
    width: 95%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 20px;
    overflow-y: scroll;
}

.event h3 {
    text-align: center;
}

.news {
    margin: 2% auto;
    height: 200px;
    width: 95%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 20px;
    overflow-y: scroll;
}

.news h3 {
    text-align: center;
}

.bath {
    margin: auto;
    padding: 3%;
    height: auto;
    width: 90%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 30px;
}

.bath h1 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0;
}

.bath p {
    margin-top: 0.5%;
}

.game-start img {
    width: 100%;
    border-radius: 30px;
}

.game-start {
    text-align: center;
}

.game {
    display: inline-block;
    margin: 0%;
}

.game-main img {
    text-align: center;
    border-right: dashed 3px rgb(255, 156, 227);
    border-radius: 30px;
    width: 100%;
}

.game-text {
    margin: 0 0;
    padding: 2px 0;
    display: block;
    background-color: rgb(250, 209, 238);
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.game-text img {
    display: none;
    border-bottom: dashed 3px rgb(255, 156, 227);
    border-top-right-radius: 30px;
    width: 450px;
    height: 255px;
}

.game-text h4 {
    margin-top: 3%;
    padding-left: 1em;
}

.game-text p {
    padding-left: 1em;
    padding-right: 1em;
}

.game-text h5 {
    padding-left: 1%;
    padding-right: 1%;
    color: gray;
}

.next {
    position: absolute;
    margin: 2%;
    right: 0;
}

.mix iframe {
    width: 450px;
    position: relative;
}