<!DOCTYPE html><html><head><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><meta charset="utf-8"><title><nyuyokuUsagi></title><link href="stylesheet.css" rel="stylesheet" type="text/css" media="screen and (min-width: 481px)" /><link href="smp.css" rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" /><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"><script src="//code.jquery.com/jquery-2.2.4.min.js"></script><script>$(function() {
    $("#header").load("header.html");
    $("#sclasse").load("sclasse.html");
    $("#footer").load("footer.html");
}

);
</script></head><body><div id="header"></div><div class="party"><div class="party-menu"><ul><li><a href="party.html#p-0408">2022.04.08 Patio / club bar Crazy</a></li><li><a href="party.html#p-0403">2022.04.03 Revival / OR</a></li><li><a href="party.html#p-0218">2022.02.18 Patio / club bar Crazy</a></li><li><a href="party.html#p-0129">2022.01.29 A HOUSE / AiiRO CAFE</a></li><li><a href="party.html#p-0121">2022.01.21 Patio / club bar Crazy</a></li><li><a href="party.html#p-0108">2022.01.08 鉄鋼うさぎハウス</a></li><li><a href="party.html#p-1230">2021.12.30 Patio / club bar Crazy</a></li><li><a href="party.html#p-1226">2021.12.26 MOTION / Sankeys PENTHOUSE</a></li><li><a href="party.html#p-1217">2021.12.17 HOUSE MUSIC ALL LIFE LONG / CLUB MOVE In SHIGA</a></li><li><a href="party.html#p-1127">2021.11.27 All Good Music Party / club bar Crazy</a></li><li><a href="party.html#p-1119">2021.11.19 Patio / club bar Crazy</a></li><li><a href="party.html#p-1030">2021.10.30 Halloween Party / club bar Crazy</a></li><li><a href="party.html#p-1016">2021.10.16 HOUSE MUSIC ALL LIFE LONG / CLUB MOVE In SHIGA</a></li><li><a href="party.html#p-0711">2021.07.11 入浴うさぎの爆音ごはんの時間 / ええかんじ食堂</a></li><li><a href="party.html#p-0619">2021.06.19 ツキイチチューカカイ レイヴ中華</a></li><li><a href="party.html#p-"></a></li></ul></div><div class="party-main"><h3 id="p-0408">Patio / club bar Crazy</h3><img src="p-0408.jpg"><p>🐰入浴うさぎがHouse Grillaと毎月やっているはうすパーティーです🐰 <br>🐰まじにサイコーなフライヤーは毎度ですがYAMAHAちゃん🐰 <br><br>4/8 Patio / club bar Crazy <br>entrance ¥1000 <br>open 22:00~<br><br>DJ <br>入浴うさぎ <br>House Gorilla <br>daijiro <br>cva beatz </p><h3 id="p-0403">Revival / OR</h3><img src="p-0403.jpg"><p>🐰tanosiina usagoriというdeep houseのユニットで出ます🐰 <br>🐰ディスカウントできるみたいなので、いらっしゃる方はご連絡ください🐰 <br><br>4/3 Revival/OR <br>ENTRANCE 1500円 <br>OPEN 16:00~<br>music:techno.house.nu:disco,
etc <br><br>LINE UP <br>3F <br>Nao.Ichikawa <br>Toshiaki Coyama <br>Brenna Ryan <br>mi-rai3124 <br>i-sakurai <br>BANANA-CHAN <br>Asami <br><br>2F <br>上-JYOUGE-下 <br>871 <br>meleetime <br>果実 <br>Jukimaru <br>samjim <br>broccoli <br>tanoshiina usagori <br><br>[Resident / Organize] <br>SIGNAL (UNREAL/sammeln / MOTION） </p> <h3 id="p-0218">Patio / club bar Crazy</h3> <img src="p-0218.jpg"> <p></p> <h3 id="p-0129">A HOUSE / AiiRO CAFE</h3> <img src="p-0129.jpeg"> <p></p> <h3 id="p-0121">Patio / club bar Crazy</h3> <img src="p-0121.jpg"> <p></p> <h3 id="p-0108">鉄鋼うさぎハウス</h3> <img src="p-0108.jpg"> <p></p> <h3 id="p-1230">Patio / club bar Crazy</h3> <img src="p-1230.jpg"> <p></p> <h3 id="p-1226">MOTION / Sankeys PENTHOUSE</h3> <img src="p-1226.jpeg"> <p></p> <h3 id="p-1217">HOUSE MUSIC ALL LIFE LONG / CLUB MOVE In SHIGA</h3> <img src="p-1217.jpeg"> <p></p> <h3 id="p-1127">All Good Music Party / club bar Crazy</h3> <img src="p-1127.jpeg"> <p></p> <h3 id="p-1119">Patio / club bar Crazy</h3> <img src="p-1119.jpg"> <p>🐰記念すべきいっかいめのぱてぃおです🐰 <br>🐰フライヤーはYAMAHAちゃん🐰</p> <h3 id="p-1030">Halloween Party / club bar Crazy</h3> <img src="p-1030.jpeg"> <p></p> <h3 id="p-1016">HOUSE MUSIC ALL LIFE LONG / CLUB MOVE In SHIGA</h3> <img src="p-1016-2.jpeg"> <p></p> <h3 id="p-0711">入浴うさぎの爆音ごはんの時間 / ええかんじ食堂</h3> <img src="p-0711.jpeg"> <p></p> <h3 id="p-0619">ツキイチチューカカイ レイヴ中華</h3> <img src="p-0619.png"> <p></p> <div class="share"> <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div> </div> </div> <div id="footer"></div> </body> </html>ght: 1em;
margin: 0;

}
.contents1 h3 {
    text-align: center;
    font-size: 1em;
}
.news {
    margin: 1%;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    text-align: left;
    padding-right: 1em;
    border: solid 1px;
    overflow-y: scroll;
}
.event {
    margin: 1%;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    text-align: left;
    padding-right: 1em;
    border: solid 1px;
    overflow-y: scroll;
}
.zine-top {
    margin: 1%;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    text-align: left;
    padding-right: 1em;
    border: solid 1px;
    overflow-y: scroll;
}
.bath {
    height: auto;
    width: 80%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 30px;
    border: solid 1px;
}
.bath h1 {
    font-size: 1em;
}
.bath p {
    font-size: 0.8em;
}
.contact {
    display: none;
}
.Form {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
.Form-Item {
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}
.Form-Item-Label {
    width: 20%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 1em;
}
.Form-Item-Label.isMsg {
    margin-top: 0;
    margin-bottom: auto;
}
.Form-Item-Input {
    border: 0;
    border-radius: 30px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: rgba(255, 240, 249, 0.45);
    font-size: 15px;
}
.Form-Item-Textarea {
    border: 0;
    border-radius: 30px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: rgba(255, 240, 249, 0.45);
    font-size: 15px;
}
.Form-Btn {
    border: 0;
    border-radius: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 200px;
    display: block;
    letter-spacing: 0.05em;
    background: rgba(255, 240, 249, 0.45);
    color: black;
    font-weight: bold;
    font-size: 1em;
}
.game-start {
    display: flex;
}
.game-start img {
    width: 450px;
    border-radius: 30px;
}
.start-button {
    padding: 1%;
    margin: 1%;
    height: 0%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 30px;
}
.game {
    display: flex;
}
.game-main img {
    display: flex;
    position: relative;
    background-color: rgb(255, 209, 238);
    border-right: dashed 3px rgb(255, 156, 227);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 450px;
}
.game-text {
    position: relative;
    background-color: rgb(250, 209, 238);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 450px;
    height: 450px;
}
.game-text img {
    display: block;
    border-bottom: dashed 3px rgb(255, 156, 227);
    border-top-right-radius: 30px;
    width: 450px;
    height: 255px;
}
.game-text h4 {
    padding-left: 10px;
}
.game-text p {
    padding-left: 10px;
    padding-right: 10px;
}
.game-text h5 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0%;
    color: gray;
}
.next {
    position: absolute;
    text-align: center;
    right: 3%;
    bottom: 2%;
}
.mix {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 5%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 30px;
    text-align: center;
}
.mix iframe {
    width: 50%;
    position: relative;
}
.party {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 5%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 30px;
}
.party-menu {
    width: 30%;
    height: 700px;
    margin-right: 5%;
    border: solid 1px;
    overflow-y: scroll;
}
.party-main {
    margin-right: 0;
    width: 70%;
    height: 700px;
    overflow-y: scroll;
}
.party-main img {
    width: 70%;
}
.party-main h3 {
    border-top: solid 1px;
    font-size: 1.2em;
}
.party-main p {
    margin-top: 0.5%;
    margin-bottom: 10%;
}
.zine {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 5%;
    background-color: rgba(255, 240, 249, 0.45);
    border-radius: 30px;
}
.zine-menu {
    width: 30%;
    height: 700px;
    margin-right: 5%;
    border: solid 1px;
    overflow-y: scroll;
}
.zine-main {
    margin-right: 0;
    width: 70%;
    height: 700px;
    overflow-y: scroll;
}
.zine-main h2 {
    border-top: solid 1px;
    font-size: 1em;
    text-align: right;
    margin-right: 3%;
}
.zine-main h3 {
    font-size: 1.2em;
}
.zine-main p {
    margin-bottom: 10%;
}
.share {
    text-align: right;
}